{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/chatbot.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Chat - {{conversation.title|safe}} {% endblock title %}

{% block content %}
    <div class="flex justify-center">
        <div class="chat-container w-4/5 sm:w-full lg:w-4/5">
            <!-- Header -->
            <div class="bg-blue-500 p-4 text-white text-center font-semibold">
                Code Assistant
            </div>
        
            <div class="flex-1 overflow-y-auto p-4 space-y-4" id="messagesList">
                {% for chat in chats %}
                    <!-- User Message -->
                    <div class="flex justify-end">
                        <div class="bg-blue-300 text-gray-800 p-3 rounded-lg w-auto max-w-screen-md text-justify shadow-sm">
                            <div><strong>Você</strong></div>
                            <div class="markdown-content">{{ chat.message }}</div>
                        </div>
                    </div>

                    <!-- AI Response -->
                    <div class="flex justify-start">
                        <div class="bg-gray-900 bg-opacity-50 text-gray-400 p-3 rounded-lg w-auto max-w-screen-md text-justify shadow-sm">
                            <div class="text-gray-100"><strong>Code Assistant</strong></div>
                            <div class="markdown-content">{{ chat.response|safe }}</div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            <!-- Message Input -->
            <form action="" id="messageForm" class="p-4 bg-gray-600 flex flex-wrap space-x-0 md:space-x-2 border-t border-gray-300">
                {% csrf_token %}
                <textarea type="text" id="messageInput" class="flex-1 bg-gray-600 text-white p-2 border rounded-lg focus:outline-none resize-none max-h-32 overflow-y-auto" placeholder="Digite sua mensagem..." rows="1"></textarea>
                <button type="submit" class="w-full md:w-auto bg-blue-500 text-white m-2 p-2 rounded-lg hover:bg-blue-600">Enviar</button>
            </form>
        </div>
    </div>
    

<script src="{% static 'js/chatBot.js' %}"></script>
{% endblock %}
