{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="flex items-center justify-center">
        <div class="w-full max-w-md p-6 bg-gray-800 rounded-md shadow-md">
            <img src="{% static 'img/senhas/reset_password_success.png' %}" alt="Success" class="mx-auto w-24 h-24 mb-4">
            <h2 class="mb-4 text-xl font-semibold text-center text-gray-300">
                Senha Redefinida com Sucesso!
            </h2>
            <p class="text-center text-gray-200">
                Sua senha foi redefinida com sucesso. Clique no botão abaixo para fazer login.
            </p>
            <div class="flex justify-center mt-6">
                <a href="{% url 'Accounts:login' %}" class="px-6 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600">
                    Ir para Login
                </a>
            </div>
        </div>
    </section>

{% endblock content %}