{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="flex justify-center items-center">
        <div class="w-full max-w-lg bg-gray-800 shadow-lg rounded-lg p-8">
            <div class="text-center">
                <img src="{% static 'img/senhas/password_6690025.png' %}" alt="Success" class="mx-auto w-24 h-24 mb-4">
                <h2 class="text-2xl font-bold text-gray-300">Senha Alterada com Sucesso!</h2>
                <p class="text-gray-200 text-justify mt-2">Agora você pode acessar suas funcionalidades com a nova senha.</p>
            </div>

            <div class="mt-6 space-y-4">
                <a href="{% url 'Accounts:update_profile' request.user.id %}" class="block bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md text-center">
                    Meu Cadastro
                </a>
                <a href="{% url 'Chatbot:conversation_list' %}" class="block bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md text-center">
                    Ir para Chats
                </a>
            </div>
        </div>
    </section>
{% endblock %}