{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <section class="flex items-center justify-center">
        <div class="w-full max-w-md p-6 bg-gray-800 rounded-md shadow md">
            <img src="{% static 'img/senhas/password_2721640.png' %}" alt="Success" class="mx-auto w-24 h-24 mb-4">
            <h2 class="mb-4 text-xl font-semibold text-center text-gray-300">
                Redefinir Senha
            </h2>

            {% if validlink %}
                {% include "components/_errors.html" %}
                
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-4 text-gray-300">
                        {{ form.new_password1.label_tag }}
                        {% render_field form.new_password1 class+="input-field text-gray-700 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Nova Senha" %}
                    </div>                    
                    
                    <div class="mb-4 text-gray-300">
                        {{ form.new_password2.label_tag }}
                        {% render_field form.new_password2 class+="input-field text-gray-700 w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Nova Senha" %}
                    </div>

                    <div class="flex justify-between mt-6">
                        <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600">
                            Redefinir
                        </button>
                        <a href="{% url 'Chatbot:conversation_list' %}" class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600">
                            Cancelar
                        </a>
                    </div>
                </form>            
            {% else %}
                <div class="text-center">
                    <img src="{% static 'img/senhas/password_insuccess.png' %}" alt="Insuccess" class="mx-auto w-24 h-24 mb-4">
                    <p class="text-red-500">
                        O link de redefinição de senha é inválido ou expirou. Por favor, solicite novamente.
                    </p>
                </div>
            {% endif %}

        </div>
    </section>

{% endblock content %}