{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="flex items-center justify-center">
        <div class="w-full max-w-md p-6 bg-gray-800 rounded-md shadow-md">
            <img src="{% static 'img/senhas/reset_password_done.png' %}" alt="Success" class="mx-auto w-24 h-24 mb-4">
            <h2 class="mb-4 text-xl font-semibold text-center text-gray-300">
                Verifique seu E-mail
            </h2>
            <p class="text-justify text-gray-300">
                Um link para redefinir sua senha foi enviado para seu e-mail.
                Verifique sua caixa de entrada ou spam.
            </p>
        </div>
    </section>
{% endblock %}