{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <section class="flex justify-center items-center">
        <div class="w-full max-w-2xl bg-gray-800 shadow-lg rounded-lg p-8">
            <h2 class="text-2xl font-bold text-center text-gray-300 mb-6">Alterar Senha</h2>
            {% if has_permission %}
                <form action="" method="post" class="space-y-6">
                    {% csrf_token %}
                    <!-- Template de erros -->
                    {% include "components/_errors.html" %}
    
                    <div>
                        <label for="old_password" class="block text-sm font-medium text-gray-300">Senha Atual</label>
                        {% render_field form.old_password class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Digite sua senha atual" %}
                    </div>
    
                    <div>
                        <label for="new_password1" class="block text-sm font-medium text-gray-300">Nova Senha</label>
                        {% render_field form.new_password1 class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Digite sua nova senha" %}
                    </div>
    
                    <div>
                        <label for="new_password2" class="block text-sm font-medium text-gray-300">Confirme a Nova Senha</label>
                        {% render_field form.new_password2 class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Confirme sua nova senha" %}
                    </div>
    
                    <div class="flex justify-between items-center space-x-4">
                        <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md w-full">
                            Alterar Senha
                        </button>
                        <a href="{% url 'Chatbot:conversation_list' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-md w-full text-center">
                            Cancelar
                        </a>
                    </div>
                </form>
            {% else %}
                <p class="text-center text-red-500 font-bold">Você não tem permissão para alterar a senha deste usuário.</p>
            {% endif %}
        </div>
    </section>

{% endblock content %}