.chat-container {
    width: 80%;
    max-width: 120rem;
    height: 95vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.2);

}

.markdown-content {
    line-height: 1.6;
}

.markdown-content pre {
    background-color: #030303; /* Cor de fundo escura para blocos de código */
    color: #e0d1d1;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.markdown-content code {
    background-color: #030303; /* Cor de fundo para inline code */
    color: #f0c505b7;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilos para headers no Markdown */
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    color: #f1f1f1;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/* Estilos para listas no Markdown */
.markdown-content ul,
.markdown-content ol {
    padding-left: 1.5em;
    color: #d1d1e0;
}

#messagesList {
    overflow-y: auto;
    word-wrap: break-word;
}

.chat-message {
    height: auto;
    overflow-y: auto;
    max-width: 90%;
}