{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#2563EB" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/logo-code_assistant(1).jpg' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body class="bg-gray-700 h-screen flex flex-col">
        
        <div class="flex flex-1 w-full">
            {% if user.is_authenticated %}
                {% include "components/_sidebar.html" %}
            {% endif %}
            
            <div id="mainContent" class="flex-grow flex flex-col w-full min-h-screen transition-all duration-300 lg:relative z-0">
                {% include "components/_header.html" %}
                
                <main class="flex-grow container mx-auto py-6 px-4">
                    {% block content %}
                
                    {% endblock %}
                </main>
                {% include "components/_footer.html" %}
            </div>
            
        </div>
        {% block scripts %}
            <script src="{% static 'js/toggleSidebar.js' %}"></script>
        {% endblock scripts %}
    </body>
</html>
