{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/logo-code_assistant(1).jpg' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body class="bg-gray-700 h-screen flex">
        
        <div class="flex h-full w-full">
            {% if user.is_authenticated %}
                {% include "components/_sidebar.html" %}
            {% endif %}
            
            <div id="mainContent" class="flex-grow transition-all duration-300">
                {% include "components/_header.html" %}
                
                <main class="container mx-auto py-6 px-4">
                    {% block content %}
                
                    {% endblock %}
                </main>

            </div>
        </div>
        
        
        {% block scripts %}
            <script src="{% static 'js/toggleSidebar.js' %}"></script>
        {% endblock scripts %}
    </body>
</html>
