{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/logo_size.jpg' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    <body class="bg-gray-700 h-screen">
        {% include "components/_header.html" %}
        <main class="flex-grow container mx-auto py-6 px-4">
            {% block content %}
        
            {% endblock %}
        </main>

        
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
