{% if form.errors %}
    <div class="bg-red-300 border border-red-400 text-red-700 text-xs text-justify font-bold px-4 py-3 rounded my-4">
        <ul class="list-none mb-0">
            {% for field in form %}
                {% for error in field.errors %}
                    <li class="flex items-center justify-start">
                        <svg class="h-10 w-10 text-red-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M12 2a10 10 0 100 20 10 10 0 000-20z"/>
                        </svg>
                        <span>{{ error }}</span>
                    </li>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <li class="flex items-center">
                    <svg class="h-10 w-10 text-red-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M12 2a10 10 0 100 20 10 10 0 000-20z"/>
                    </svg>
                    <span>{{ error }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endif %}