<footer class="bottom-0 w-full bg-gray-800 text-white py-2 text-sm boder-t border-gray-700">
    <div class="container mx-auto flex flex-col sm:flex-row  justify-end items-center px-4">
        <span class="text-center sm:text-left">TR Solutions© {% now "Y" %}. Todos os direitos de desenvolvimento reservados a </span>
        <a href="https://github.com/thercior" target="_blank" class="flex items-center mt-2 sm:mt-0 hover:text-blue-400">
            <i class="fab fa-github mx-1"> </i> Thércio Rodrigues
        </a>
    </div>
</footer>