<div class="flex flex-col">
    
    <div id="sidebar" class="sidebar bg-gray-800 text-white w-64 transition-transform transform lg:flex-shrink-0 h-full flex flex-col">


        <div class="conversations mt-2 overflow-y-auto">
            <h3 class="p-2 my-2 font-bold text-gray-400 flex items-center">
                <a href="{% url 'Accounts:update_profile' request.user.id %}" class="my-3">
                    <i class="fa fa-user ml-2"></i>
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
            </h3>
            <hr>
            <div class="mt-5">
                <h2 class="text-xl text-blue-800 font-semibold text-justify ml-2">
                    Aqui estão seus chats:
                </h2>
                <ul>
                    {% for conversation in conversations %}
                        <li class="conversation-item {% if conversation.id == conversation_selected %} bg-gray-600 {% else %} hover:bg-gray-700 {% endif %} p-4 cursor-pointer transition">
                            <a href="{% url 'Chatbot:chat_view' conversation.id %}" class="flex justify-start">
                                <div class="text-sm font-medium">
                                    {{ conversation.title|safe }}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    </div>
</div>
