<div class="flex flex-col">
    <button id="toggleSidebar" class="pl-2 py-6 items-center justify-center text-gray-200 bg-gray-800 focus:outline-none">
        <svg class="h-6 w-6 items-center justify-center" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
    </button>
    <div id="sidebar" class="sidebar bg-gray-800 text-white w-64 transition-transform transform lg:flex-shrink-0 h-full flex flex-col">


        <div class="conversations mt-2 overflow-y-auto">
            <h3 class="p-2 font-bold text-gray-400 flex items-center">
                <a href="{% url 'Accounts:update_profile' request.user.id %}" class="">
                    <i class="fa fa-user ml-2"></i>
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </a>
            </h3>
            <hr>
            <div class="mt-4">
                <h2 class="text-xl text-blue-800 font-semibold text-justify ml-2">
                    Aqui estão seus chats:
                </h2>
                <h3 class="text-lg font-semibold text-start">
                    <ul>
                        {% for conversation in conversations %}
                            <li class="conversation-item {% if conversation.id == conversation_selected %} bg-gray-600 {% else %} hover:bg-gray-700 {% endif %} p-4 cursor-pointer transition">
                                <a href="{% url 'Chatbot:chat_view' conversation.id %}" class="flex justify-start">
                                    <div class="text-sm font-medium">
                                        {{ conversation.title|safe }}
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </h3>
            </div>
        </div>
    </div>
</div>
